<h1 class="mt-4">Dashboard</h1>
<p class="lead mb-3">Welcome User!</p>
<a href="/users/logout" class="btn btn-secondary">Logout</a>

<form action="/users/secretNum" method="POST">
    <div class="form-group">
        <label for="secretNum">Enter your Secret Number below</label>
        <input 
        type="number"
        id="secretNum"
        name="secretNum"
        class="form-control"
        placeholder="Secret Number"
        />
    </div>
</form>