<h1 class="mt-4">Dashboard</h1>
<p class="lead mb-3">Welcome User!</p>
<a href="/users/logout" class="btn btn-secondary">Logout</a>

<!--
<form action="/users/secretNum" method="POST">
    <div class="form-group">
        <label for="secretNum">Enter your Secret Number below</label>
        <input 
        id="secretNum"
        name="secretNum"
        class="form-control"
        placeholder="Secret Number"
        />
    </div>
</form>
-->
<form onsubmit="return false" onclick="displayBack()">
    <div class="form-group">
        <label for="comment">Make a comment</label>
        <input
        id="comment"
        name="comment"
        class="form-control"
        placeholder="Comment"
        />
	<input type="submit" name="Submit"/>
    </div>
</form>

<form action="/users/secretNum" method="POST">
    <div class="form-group">
        <label for="secretNum">Enter your Secret Number below</label>
        <input 
        type="number"
        id="secretNum"
        name="secretNum"
        class="form-control"
        placeholder="Secret Number"
        />
    </div>
</form>
<script>
    

function displayBack() {

document.getElementById('output').innerHTML = document.getElementById("comment").value;

}

</script>

<p id=output></p>
