<h1 class="mt-4">Information</h1class></h1>

<% if (num == 0) { %>
    <p>This is secret admin info. I hope you're actually the admin</p> 
<% } else{ %>
    <p>this is some Information about order number <%= num %> </p>    
  <% } %>
<% console.log(num) %>
