<h1 class="mt-4">Information</h1class></h1>

<% if (num == 0) { %>
    <p>This is secret admin info. I hope you're actually the admin</p>  
<% } else if (num == -1) { %>
    <p> You're not the admin! Nice try. </p>
<% } else if (num == -2) { %>
    <p>Please input a valid (non-negative) number</p>     
  <% } else { %>
    <p> Here is some Information about order number <%= num %> </p>
  <% } %> 